:root{
    --colorPrincipal: #2091F9;
    --colorSecundario: #001A49;
    --colorbase1: #fff;
    --colorbase2: #000;
    --colorBG1:radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);  
    --paddingContainer: 100px 80px;
    --fontsizeTitle: 2rem;
    --fontsizeSubTitle: 1.5rem;
    --fontsizeText: 1.2rem
}