.header{
    &__container{
        width: 100%;
        height: 100vh;
        

        &::before{
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            background: linear-gradient(180deg, #0000008c 0%,#0000008c 100%), url("../dev/assets/img/computer.jpg");
            background-size: cover;
            clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
            z-index: -1;
        }

        
    }

}
.nav{
    // border: solid red 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 6rem;
    
    &__logo{
        color: var(--colorbase1);
        font-size: 25px;
    }
    &__links{

        a{
            color: var(--colorbase1);
            text-decoration: none;
            margin: 15px;
            font-size: 17px;
        }
        
    }
}
.hero{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    color: var(--colorbase1);

    &__title{
        font-size: 50px;
        width: 60%;
        text-align: center;
        line-height: 1;
    }
    &__description{
        width: 60%;
        text-align: center;
        margin-top: 20px;
    }
    &__button{
        margin-top: 30px;
    }
}

